@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
header{
    font-family: 'Amatic SC', cursive;
    color:red;
    height: 4rem;
    font-size: 4.2rem;
    padding-left: 20px;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#innerDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

body{
    background-image: url('https://preview.redd.it/1sy1b2g5bl411.jpg?width=852&auto=webp&s=844c316d8d4641ec4114f441335f16fa608bec97');
    background-repeat: no-repeat;
    background-size: cover;
}

.oneCard{
    display: flex;
    justify-content: center;
}

.oneCard>img:hover{
    box-shadow: 30px 30px 150px #790202;
    /* box-shadow: 0 0 50px 50px #7902026e; */
 
}

.cardImg{
    height: 100%;
    width: 45rem;
    max-width: 100%;
    padding: 5px;
    background-color:#a9a27f;
}

h1{
    padding-left: 20px;
    padding-bottom: 20px;
    color: #bab38d;
    font-size: 1.5rem;
   font-family: 'Slabo 27px', serif;
}

h2{
    padding-left: 20px;
    padding-bottom: 20px;
    color: #bab38d;
    font-size: 1.5rem;
    font-family: 'Slabo 27px', serif;
}

#musicButton{
    background-color: transparent;
    height: 50px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 25%;
    border: none;
    box-shadow: 0px 0px 20px #f44336c4;
    color: #bab38d85;
    font-size: large;
}

#musicButton:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px grey;
}

#musicButton:focus{
    outline: none;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 50rem;
    height: 20rem;
    background-image: linear-gradient(#efe8c6, #900803);
    border: 5px solid black;
}
.message> h1{
    margin: 0;
    padding-bottom: 20px;
    color: black;
    font-size: 6rem;
    font-family: 'Slabo 27px', serif;
    text-shadow: 5px 5px 5px #900803;
}
.message > h2{
    margin: 0;
    margin-top: 20px;
    color: black;
    font-size: 3.3rem;
    font-family: 'Slabo 27px', serif;
}

.message > h3{
    color: black;
    font-size: 2.2rem;
    font-family: 'Slabo 27px', serif;
    text-decoration: underline;
    padding-bottom: 10px;
}

.flipped:hover{
    transform: scale(1.4);
}
